name: Daily Arxiv Paper Digest
on:
  schedule:
    # 每天UTC时间1点运行，即北京时间上午9点
    - cron: '0 1 * * *'  # 修正cron表达式格式和时间
  workflow_dispatch: # 允许手动触发

jobs:
  send-digest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Arxiv Digest
        env:
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          RECIPIENT_EMAIL: ${{ secrets.RECIPIENT_EMAIL }}
        run: python main.py
